[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu116"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu116"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu116"
verify_ssl = true
name = "downloadpytorch"

[packages]
mlflow = "*"
prefect = "*"
dvc = "*"
hydra-core = "*"
pre-commit = "*"
pytest = "*"
isort = "*"
pytorch-lightning = "==1.5.1"
pandas = "*"
typing = "*"
loguru = "*"
pillow = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]

[requires]
python_version = "3.11"
