[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pre-commit = "*"
mlflow = "*"
dvc = {extras = ["s3"], version = "*"}
dvc-s3 = "*"
prefect = "*"
hydra-core = "*"
typing = "*"
pandas = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.11"
